@charset "UTF-8";
/*
▽CSSリセット的なモノ */
input, textarea{
 border:1px solid #fd4;
}
html{
 height: 100%;
 overflow: hidden; 
 margin: 0;
 padding: 0;
}
body{
 background: #fff;
 color: #808080;
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
 font:normal 80% 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
 line-height: 1.2em;
}
#contents{
 height: 100%;
 width: 100%;
}
#header{
 top:0;
 left:0;
 position: absolute;
 z-index: 1;
 width: 200px;
 height: 100%;
 background:url(img/menu.gif) repeat-y left top;
}
#header *{
 margin: 0;
 padding: 0;
}
#header h1{
 font-size: 16pt;
 color: #9cf;
 border-width:0;
}
/*
▽基本要素(p, em, strong, a) */
p{
 margin:.5em 0;
}
em{
 color:#666;
 text-decoration: underline;
}
strong{
 font-weight: bold;
 color: #dc143c;
}
a{
 text-decoration:none;
}
	a:link,a:visited{
	 color:#58f;
	}
	a:hover{
	 color:#3af;
	}
img{
	border:0;}
/*
▽ナビゲーション */

#menu{
 font-size: 110%;
 line-height:1.2em;
}
#menu ul{
 margin:0px 0 0px;
 text-align:center;
}
#menu li{
 margin:0;
 list-style-type:none;
}
#menu li a{
 margin:0;
 width:180px;
 color:#f71;
 display:block;
}
#menu li a:hover{
 background:url(img/menu_link.gif) no-repeat center bottom;
 color:#fa1;
 text-decoration:none;
 font-weight:bold;
}
#menu li#this_page a{
 background:url(img/menu_link.gif) no-repeat center bottom;
 color:#fa1;
 font-size: 120%;
 font-weight:bold;
}
#main{
 padding:5px 15px 5px 215px ;
 overflow: auto;
 height: 100%;
 background:url(img/backlogo.jpg) no-repeat fixed right bottom;
}
/*
▽記事の見出し */
h1, h2, h3, h4, h5, h6{
 font-size:90%;
 text-align:center;
}
h1{
 border-bottom:1px dotted;
 font-size: 200%;
 color: #f71;
 text-align:left;
 margin: 1em -.8em .5em;
}
h2{
 border-bottom:1px dotted;
 font-size:180%;
 color: #f91;
 text-align:left;
 margin: .8em -.6em .4em;
}
h3{
 font-size:160%;
 color:#fa1;
 text-align:left;
 margin: .6em -.4em .3em;
}
h4{
 font-size:1.2em;
 color:#fc1;
 text-align:left;
 margin: .4em -.3em .2em;
}
#footer{
 margin:25px 0;
 border:1px solid #ddd;
 text-align:center;
 font-size:1em;
 clear:both;
}

 /* ▼2011年度までのギャラリーに適用されているスタイルです▼ */
.member{background:url("data:image/gif;base64,R0lGODlhAQA8AIQSAOnp6erp6erq6uvq6uvr6+vs6+zs7PLy8vLz8/Pz8/P09PT09PT19fX19fX29vb29vb39/f39////////////////////////////////////////////////////////yH5BAEKAB8ALAAAAAABADwAAAUk4HEgSGKairKs7MowTSw3Tv3c+APtUe9HBkOBQBgIAgCAIBICADs=") bottom left repeat-x;width:200px;}
.member:hover{background:url("data:image/gif;base64,R0lGODlhAQA8AOMKAPT09PX09PX19fX29fb29vn5+fn6+vr6+vr7+/v7+////////////////////////yH+KUNyZWF0ZWQgYnkgQUtBSS4KaHR0cDovL2FrYWluby5paW5hYS5uZXQvACH5BAEKAA8ALAAAAAABADwAAAQWsMg5jTk4642RT2AojiBBDIIQACybRAA7") bottom left repeat-x;width:200px;}
.member a{
 font-size: large;
 display:block;
 text-indent:0.5em;
 border-left:1px solid #eee;
 border-right:1px solid #ccc;
 border-bottom:1px solid #ccc;
}
#member-list{
 margin-left:1em;
 margin-top:1em;
 width:300px;
 background-color:#808080;
 border-right:double 9px #fd4;
 border-left:double 9px #fd4;
}
#member-list img{
 position:fixed;
 margin-left:200px;
 border-bottom:solid 3px #fd4;
 border-top:solid 3px #fd4;
}
#listhead{
 background:#fd4;
 text-indent: 1ex;
 text-align:left; 
 border-left:double 9px;
 margin:0px;
 font:bold x-large serif,'ＭＳ 明朝'; 
}
#listfoot{
 background:#fd4;
 text-align:right;
 padding-right:1ex;
 border-right:double 9px;
 margin:0px;
 font:bold x-large serif,'ＭＳ 明朝'; 
}
.highslide-number{
 display: inline;
 padding-right: 1em;
 color: white;
}
.highslide-gallery{
 text-align:center;
 max-width:646px;
 margin:0px auto;
 background-color:#808080;
 border-right:double 9px #fd4;
 border-left:double 9px #fd4;
}

 /* ▲2011年度までのギャラリーに適用されているスタイルです▲ */
