BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f5f5dc; TEXT-ALIGN: left
}
A {
	COLOR: #57a8d5
}
A:hover {
	COLOR: #1b6fdb
}
.head {
	MARGIN-TOP: 2%; MARGIN-LEFT: auto; WIDTH: 50%; MARGIN-RIGHT: auto; HEIGHT: 75px
}
.head TD {
	VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.head1 {
	WIDTH: 45px; TEXT-ALIGN: right
}
.head2 {
	PADDING-LEFT: 4px
}
.main {
	MARGIN-TOP: 5%; MARGIN-LEFT: 10%; WIDTH: 100%; MARGIN-RIGHT: 10%; TEXT-ALIGN: left
}
.main H1 {
	FONT-SIZE: 120%; COLOR: #ff6347; LINE-HEIGHT: 100%
}
.main H2 {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #556b2f; BACKGROUND-COLOR: #d2b48c
}
.main P {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #4f4c43; LINE-HEIGHT: 180%; FONT-FAMILY: MSP∫ﬁºØ∏,sans-serif
}
.main A {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #00497c; LINE-HEIGHT: 180%; TEXT-DECORATION: none
}
.main A:hover {
	COLOR: #4455b6
}
.main IMG {
	PADDING-BOTTOM: 5%; PADDING-TOP: 3%
}
.main HR {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 60%; COLOR: #cecece; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #cecece
}
.main TD {
	PADDING-RIGHT: 3%; PADDING-LEFT: 3%; PADDING-BOTTOM: 3%; PADDING-TOP: 3%
}
.gal {
	FONT-SIZE: 100%; MARGIN-LEFT: 5%; WIDTH: 80%; COLOR: #666666; TEXT-ALIGN: center
}
.gal1 {
	WIDTH: 10%
}
.gal1 A {
	COLOR: #00497c; FONT-FAMILY: HGS∫ﬁºØ∏E,sans-serif; TEXT-DECORATION: none
}
.gal1 A:hover {
	COLOR: #4455b6
}
.gal1 IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 5%; BORDER-LEFT: 0px; PADDING-TOP: 3%; BORDER-BOTTOM: 0px
}
.gal2 {
	FONT-SIZE: 100%; MARGIN-LEFT: 10%; WIDTH: 90%; COLOR: #666666; TEXT-ALIGN: center
}
.gal2 IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 5%; PADDING-BOTTOM: 5%; BORDER-LEFT: 0px; PADDING-TOP: 3%; BORDER-BOTTOM: 0px
}
.gal2 P {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #55cdaa; LINE-HEIGHT: 180%; FONT-FAMILY: MSP∫ﬁºØ∏,sans-serif
}
.gal2 H2 {
	MARGIN-TOP: 3%; FONT-SIZE: 150%; COLOR: #555555; TEXT-ALIGN: center
}
.gal2 HR {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; WIDTH: 80%; COLOR: #cecece; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #cecece
}
.gal2 A {
	TEXT-DECORATION: none
}
.link {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 20px; TEXT-ALIGN: left
}
.link HR {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #cecece; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #cecece
}
.link P {
	MARGIN-TOP: 0px; FONT-SIZE: 80%; COLOR: #999999
}
.link A {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #999999; LINE-HEIGHT: 24px; TEXT-DECORATION: none
}
.link A:hover {
	COLOR: #43317b
}
.lin {
	FONT-SIZE: 100%; MARGIN-LEFT: 6%; WIDTH: 90%; COLOR: #666666; TEXT-ALIGN: center
}
.lin1 {
	WIDTH: 30%
}
.lin1 A {
	FONT-WEIGHT: bold; COLOR: #00497c; TEXT-DECORATION: none
}
.lin1 A:hover {
	COLOR: #4455b6
}
.lin1 P {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #666666; LINE-HEIGHT: 180%; FONT-FAMILY: HGS∫ﬁºØ∏E,sans-serif; TEXT-ALIGN: center
}
.lin1 IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 5%; BORDER-LEFT: 0px; PADDING-TOP: 3%; BORDER-BOTTOM: 0px
}
SPAN.a {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #ff6347; LINE-HEIGHT: 24px
}
SPAN.b {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ff0000; LINE-HEIGHT: 24px; FONT-FAMILY: Comic Sans MS,sans-serif
}
SPAN.c {
	MARGIN-TOP: 0px; FONT-SIZE: 120%; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: HGê≥û≤èëëÃ-PRO,sans-serif
}
SPAN.d {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #000000; LINE-HEIGHT: 24px
}
SPAN.e {
	MARGIN-TOP: 0px; FONT-SIZE: 120%; COLOR: #666666; LINE-HEIGHT: 24px
}
SPAN.f {
	MARGIN-TOP: 0px; FONT-SIZE: 180%; COLOR: #666666; LINE-HEIGHT: 24px
}
SPAN.g {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #666666; LINE-HEIGHT: 24px
}
SPAN.h {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ff6347; LINE-HEIGHT: 24px
}
SPAN.j {
	MARGIN-TOP: 0px; FONT-SIZE: 70%; COLOR: #ff6347; LINE-HEIGHT: 10px
}
SPAN.i {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #ff6347; LINE-HEIGHT: 24px
}
SPAN.k {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; COLOR: #666666; LINE-HEIGHT: 24px; marigin-top: 0px
}
SPAN.l {
	MARGIN-TOP: 0px; FONT-SIZE: 90%; COLOR: #999999; LINE-HEIGHT: 24px
}
SPAN.m {
	MARGIN-TOP: 0px; COLOR: #ffffff
}
SPAN.n {
	MARGIN-TOP: 0px; FONT-SIZE: 80%; COLOR: #666666; LINE-HEIGHT: 24px
}
SPAN.o {
	MARGIN-TOP: 0px; FONT-SIZE: 120%; COLOR: #ff6347; LINE-HEIGHT: 24px
}
SPAN.p {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #528836; LINE-HEIGHT: 24px
}
SPAN.q {
	MARGIN-TOP: 0px; FONT-SIZE: 100%; COLOR: #444444; LINE-HEIGHT: 24px
}
