.huti {
	border: 1px solid #333333;
}
.moji {
	font-family: "‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	font-size: 12px;
	color: #333333;
}
.moji2 {
	font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì", "ƒqƒ‰ƒMƒm–¾’© Pro W3";
	font-size: 12px;
	color: #333333;
}
.haikei {
	background-attachment: fixed;
	background-image: url(../img/ude.jpg);
	background-repeat: no-repeat;
}
