*{
	margin: 0;
	padding: 0;
	border:1px #f71;
}
html{
	scrollbar-arrow-color:#57d8ff;
	scrollbar-face-color:#fff;
	scrollbar-track-color:#fff;
	scrollbar-highlight-color:#57d8ff;
	scrollbar-shadow-color:#57d8ff;
	scrollbar-3dlight-color:#fff;
	scrollbar-darkshadow-color:#fff;
}
body{
	background:url(./back-top.png) repeat-x;
	color: #000;
	height: 100%;
	width: 100%;
	font-size: 80%;
}
strong{color:#955;}
a:link,a:visited{
	color:#3b8bcd;
}
a:hover{
	color:#4b9bdd;
}
#contents{
	height: 100%;
	width: 100%;
	text-align:center;
}
h1{
	margin: 0;
	font-size: 16pt;
	color: #9cf;
}
input, textarea{
	border:1px solid #3b8bcd;
}
a img {
	border-style:none;
}
#menu{
	font-size: 14pt;
	font-weight:bold;
}
#menu ul{
	margin:0px 0 0px;
	text-align:center;
}
#menu li{
	margin:0;
	list-style-type:none;
}
#menu li a{
	margin:0;
	width:180px;
	color:#f71;
	display:block;
}
#menu li a:hover{
	background:url(img/menu_link.gif) no-repeat center bottom;
	color:#fa1;
	text-decoration:none;
}
#menu li#this_page a{
	background:url(img/menu_link.gif) no-repeat center bottom;
	color:#fa1;
	font-size: 15pt;
	font-weight:bold;
}
#main{
	padding:5px 15px 5px 215px ;
	overflow: auto;
	height: 100%;
	background:url(img/backlogo.jpg) no-repeat fixed right bottom;
}
h2{
	margin:10px 0 5px 0;
	padding:2px 0 2px 2px;
	color: #fff;
	background:url(img/h2.png) bottom left no-repeat;
	border-style: none none solid solid;
	font-size:1.3em;
}
h3{
	margin:3px 5px;
	color:#000;
	border-bottom:1px dotted #3b8bcd;
	font-size:1.2em;
}
h4{
	margin:2px 10px;
	border-bottom:1px dotted #ddd;
	color:#555;
	font-size:1.1em;
}
p{
	margin:0 0 1em 15px;
}
a{
	text-decoration:none;
}
#footer{
	margin:25px 0;
	border:1px solid #ddd;
	text-align:center;
	font-size:1em;
	clear:both;
}
	/* ▼2011年度までのギャラリーに適用されているスタイルです▼ */
.member{background:url("./teiki/member.gif") top left repeat-x;width:200px;}
.member a{
	font-size: large;
	display:block;
	text-indent:0.5em;
	border-left:1px solid #3b8bcd;
	border-right:1px solid #3b8bcd;
	border-bottom:1px solid #3b8bcd;
}
#member-list{
	margin-left:1em;
	margin-top:1em;
	width:300px;
	background-color:#ddd;
	border-right:double 9px #3b8bcd;
	border-left:double 9px #3b8bcd;
}
#member-list img{
	position:fixed;
	margin-left:200px;
	border-bottom:solid 3px #3b8bcd;
	border-top:solid 3px #3b8bcd;
}
#listhead{
	background:#3b8bcd;
	text-indent: 1ex;
	text-align:left;	
	border-left:double 9px;
	margin:0px;
	font:bold x-large serif,'ＭＳ 明朝';	
}
#listfoot{
	background:#3b8bcd;
	text-align:right;
	padding-right:1ex;
	border-right:double 9px;
	margin:0px;
	font:bold x-large serif,'ＭＳ 明朝';	
}
.highslide-number{
	display: inline;
	padding-right: 1em;
	color: white;
}
.highslide-gallery{
	text-align:center;
	max-width:646px;
	margin:0px auto;
	background-color:#ddd;
	border-right:double 9px #3b8bcd;
	border-left:double 9px #3b8bcd;
}

	/* ▲2011年度までのギャラリーに適用されているスタイルです▲ */
